<!DOCTYPE html>
<html>

<head>
    <title>Contraseña cambiada</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            max-width: 600px;
            margin: 40px auto;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            padding: 20px;
            text-align: center;
        }

        .header {
            background-color: #44AB46;
            color: white;
            padding: 20px;
            font-size: 24px;
            font-weight: bold;
        }

        .content {
            padding: 20px;
        }

        .greeting {
            font-size: 20px;
            margin-bottom: 20px;
            color: #333;
        }

        .message {
            font-size: 16px;
            margin-bottom: 20px;
            color: #555;
        }

        .instructions {
            background-color: #f9f9f9;
            padding: 15px;
            border-radius: 4px;
            text-align: left;
            margin-bottom: 20px;
            font-size: 16px;
            color: #333;
        }

        .instructions p {
            margin: 0;
        }

        .footer {
            font-size: 14px;
            color: #888;
        }

        .logo {
            width: 150px;
            margin: 20px auto;
        }

        .logo img {
            width: 100%;
        }

        .reset-button {
            display: inline-block;
            background-color: #44AB46;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
        }

        .reset-button:hover {
            background-color: #3a9439;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            ¡Hola {{fullName}}!
        </div>
        <div class="content">
            <div class="greeting">
                Tu contraseña ha sido cambiada con éxito.
            </div>
            <div class="message">
                Para volver e iniciar sesión con tu nueva contraseña haz click en el botón
            </div>
            <div class="instructions" onclick="window.open({{url}})">
                <a href="{{url}}">Volver</a>
            </div>
            <div class="message">
                Si no solicitaste este cambio, contacta con el desarrollador.
            </div>
            <div class="logo">
                <img src="https://gopharma.com.ve/wp-content/uploads/2024/04/Logo-GoPharma-Rif-Vector.png" alt="Logo GoPharma">
            </div>
        </div>
        <div class="footer">
            Si tienes alguna pregunta, no dudes en contactarnos.
        </div>
    </div>
</body>

</html>
